html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 15%;
}
#RighttCol{
    width: 15%;
}
#Central{
    width: 70%;
}

#footer{
    height: 20px;
    background-color: #535353;
    color: #ffffff;
    text-align: center;

}
#Header{
    height: 70px;
}
.dojoxGrid{
    font-family: "Calibri Regular" !important;
    color: #535353 !important;
}
#Header1 {
    background-color:  #667F00;
    background-image: url("images/logo.png");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;
    background-size: 130px;
    height: 7%;
    width: 15%;


}
#Header2 {
    background-color:  #667F00;
    width: 25%;
    color: black;
    text-align:left ;
    border-top: 1px solid #FFFFFF !important;
    border-bottom:1px solid #FFFFFF !important;
    height: 5%;
    font-family: Aller;
    font-weight: bold;
}
#Header3 {
    background-color:  #667F00;
    width: 60%;

    text-align:left ;
    border-top: 1px solid #FFFFFF !important;
    border-bottom:1px solid #FFFFFF !important;
    height: 5%;
    font-family: Aller;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    text-align: left;
    line-height: 70px;
    text-indent: 20px;

}
.Header2 {
    background-color:  #667F00;
    border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;
    width: 20%;
}

.Footer2 {
    background-color:  #667F00;
    padding: 2px;
    height: 5% !important;

}
#viewsChart {
    width: 550px;
    height: 550px;
}

#myTableNode{
    height: 100%;
    font-size: 10px !important;
}
#header{
    height: 70px;
    width: 100%;
}
#lefpanel{
    height: 25%;
}
.nav {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    border-radius: 5px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}
#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 5;
}
#layerListPane{
    width:25%;
}
#Tabla1{
    height: 81%;

}
#Titulo{
    height: 4%;
    background-color:  #667F00;
    color: white;
    font-family: Aller;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}
#Leyenda{
    height: 14%;
}
#LeyendaTitulo{
    font-family: Aller;
    font-weight: bold;
    height: 15%;
    color: black;
    font-size: small;
    text-align: center;
    color: #535353 !important;
}

#Leyendacontenido{
    height: 70%;
}
#LeyendaLabel{
    height: 15%;
}
#IV{
    width: 25%;
    height: 100%;
    background-image: url(../css/images/Volcanes/volcan-activo-icono-128.svg);
    background-repeat: no-repeat;
    background-position: center;

}
#III{
    width: 25%;
    height: 100%;
    background-image: url(../css/images/Volcanes/cambios-comportamiento-icono-128.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#II{
    width: 25%;
    height: 100%;
    background-image: url(../css/images/Volcanes/erupcion-probable-icono-128.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#I
{
    width: 25%;
    height: 100%;
    background-image: url(../css/images/Volcanes/erupcion-inminente-icono-128.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#IVL{
     width: 25%;
     height: 100%;
     text-align: center;
     color: black;
     font-size: x-small;
    font-family: Aller;
    font-weight: bold;
    color: #535353 !important;
 }
#IIIL{
    width: 25%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: x-small;
    font-family: Aller;
    font-weight: bold;
    color: #535353 !important;
}
#IIL{
    width: 25%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: x-small;
    font-family: Aller;
    font-weight: bold;
    color: #535353 !important;
}
#IL{
    width: 25%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: x-small;
    font-family: Aller;
    font-weight: bold;
    color: #535353 !important;
}


#overviewMap1{
    height: 20%;
    z-index: -1;
}
#overviewMapDiv{
    height:100%;
    width:100%;
    z-index: -1;
}
#informacion{
    height: 8%;
}
#popup1{
    height: 15%;
    font-family: arial;
    font-size: 10px; !important;
}
#myTableNode{
    font-family: arial;
    font-size: 9px; !important;
    padding: 1px 1px;
    z-index: -1;

}
#Acordeon{
    height: 86.4%;
    font-size: 12px; !important;
}
.fuente
{
font-family: Aller bold;
}
.otros
{
    font-size: 14px !important;
    font-family: Calibri Regular;
    line-height: 50px;
    background-color: #ccc;
    height: 10%;
    cursor: pointer;
    border-top: 2px solid #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
    text-align: left !important;
    border-left: 8px solid #ccc !important;
    border-right: 8px solid #ccc !important;
}
a.fill-div:hover,.otros:hover, .otros:focus{
    background :  #667F00;
    color:#FFFFFF;
}
a.referencia, a.detalles{
    color:  #667F00 !important;
    line-height: 20px;
    font-size: 12px  !important;
    text-align: left !important;
    text-indent:5px !important;
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    line-height:30px;
    border-right: solid #667F00 !important;
    font-family: Aller;
    font-weight: bold;
}

.verticalLine {
    border-right: solid #667F00 ;
    border-right-width: 1px;
    border-right-style: ridge;
    padding-right: 4px;
    padding-top: 2px;
    padding-left: 3px;

}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}
.infoIcons{
    width: 25%;
}
#magnitud{

    background-position: center;
    background-image: url('images/magnitud-64.svg');
    background-repeat: no-repeat;
    border-color:  #667F00;
    border-right-style: solid;
    text-align: center;
    line-height: 50px;


}
#intensidad{

    background-image: url('images/intensidad-64.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-color:  #667F00;
    border-right-style: solid;
    text-align: center;
    line-height: 50px;


}
#profundidad{

    background-position: center;
    background-image: url('images/profundidad-64.svg');
    background-repeat: no-repeat;
    border-color:  #667F00;
    border-right-style: solid;
    text-align: center;
    line-height: 50px;
}
#localizacion{

    background-position: center;
    background-image: url('images/localizacion-64.svg');
    background-repeat: no-repeat;

    text-align: center;
    line-height: 20px;

}
#infolabel{
    height: 2.5%;
    background-color:  #667F00;
    color: #ffffff;
    font-family: Calibri Regular;
    font-size: 10px;
    text-align: center;
}
.infolabel{
    width: 25%;
    border-color: #ffffff;
    border-right-style: solid;

}
#leyendaMagnitud{
    position: absolute;
    bottom: 20px;
    left: 55%;
    width: 230px;
    height: 130px;
    background-image: url('images/magnitud2.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 3;
}
#leyendaProfundidad{position: absolute;
    position: absolute;
    bottom: 20px;
    left: 25%;
    width: 200px;
    height: 130px;
    background-image: url('images/profundidad2.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 4;

}
#masinformacion{
    position: absolute;
    top: 16%;
    right: -11%;
    width: 35%;
    height: 10%;
    background-image: url('images/masinformacion.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 5;
}

body {
    animation-duration: 0.001s;
}



@media only screen and  (min-device-width: 600px) {
    #Basemaps2{
        display: none !important;
    }

}

@media only screen and (max-device-width: 600px) {

    .classmobile{
        display: block !important;
    }

    #leftCol {
        width: 100%;
        display: none;


    }
    #RighttCol{
        width: 100%;
        display: none;

    }
    #Central{
        width: 100%;
    }
    #Header{
        height: 200px;
    }
    #Header1 {

        background-size: 400px;
        width: 50%;

    }
    #Header2 {

        background-size: 400px;
        width: 0%;

    }
    #Header3{
        background-size: 400px;
        width: 50%;
    }
    .MapaBaseClass {
        display: none !important;
    }
    #Basemaps2{
        display: block !important;
    }

}



