html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 25%;
    display: block;

}
#RightCol{
    width: 15%;
    display: block;
}
#Central{
    width: 60%;
    display: block;
}

#footer{
    height: 20px;
    background-color: #535353;
    color: #ffffff;
    text-align: center;

}
#Header{
    height: 70px;
}
#Header1 {
    background-color:  #667F00;
    background-image: url("images/logo.png");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;
    background-size: 130px;
    padding-top: 15px;
    width: 20%;

}
#lineavertical{
    width:0.1px;
    background-color:  #FFFFFF;
}
#Header2 {
    background-color:  #667F00;
    padding-top: 20px;
    width: 40%;
    color: #FFFFFF;
    text-align:left ;
    text-indent: 20px;
    border-top: 1px solid #FFFFFF !important;
    border-bottom:1px solid #FFFFFF !important;
    font-family: "Calibri Regular"!important;
    font-weight: bold;
    font-size: 25px;

}
.Header2 {
    background-color:  #667F00;
    border-bottom: 1px solid #FFFFFF !important;
    border-top: 1px solid #FFFFFF !important;
    width: 45%;
}
#Header4 {
    padding: 0px !important;

}

.Footer2 {
    background-color:  #667F00;
    padding: 2px;
    height: 5% !important;

}
#viewsChart {
    width: 550px;
    height: 550px;
}

#myTableNode{
    height: 100%;
}
#header{
    height: 70px;
    width: 100%;
}
#lefpanel{
    height: 25%;
}
.nav {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    border-radius: 5px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}
#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 5;
}
#layerListPane{
    width:25%;
}
#Tabla1{
    height: 70%;
}
#overviewMap1{
    height: 20%;
    z-index: -2;
}
#overviewMapDiv1{
    height:100%;
    width:100%;
    z-index: -1;
}
#overviewMapDiv{
    height:100%;
    width:100%;
    z-index: -1;
}
#informacion{
    height: 8%;
}
#popup1{
    background-color: #ccc;
    height: 17%;
    font-family: "Calibri Regular" !important;
    color: #000;
    font-size: 12px; !important;
}
#myTableNode{

    font-size: 9px; !important;
    padding: 1px 1px;
    z-index: -1;

}
#Acordeon{
    height: 94.2%;
    font-size: 12px; !important;
    font-family: "Calibri Regular" !important;
    font-weight: normal;
    color: #535353;
}
.fuente
{
font-family: Aller bold;
}
.otros
{
    font-size: 14px !important;
    font-family: "Calibri Regular" !important;
    background-color: #ccc;
    height: 10%;
    cursor: pointer;
    border-top: 2px solid #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
    text-align: left !important;
}
a.fill-div:hover,.otros:hover, .otros:focus{
    background :  #667F00;
    color:#FFFFFF;
}
a.referencia, a.detalles{
    color:  #667F00 !important;
    font-size: 12px  !important;
    text-align: left !important;
    text-indent:5px !important;
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    line-height:15px;
    border-right: solid #667F00 !important;
    font-weight: bold;
}

.verticalLine {
    border-right: solid #667F00 ;
    border-right-width: 1px;
    border-right-style: ridge;
    padding-right: 4px;
    padding-top: 2px;
    padding-left: 3px;

}
a.fill-div {
    display: block;
    height: 100%;
    width: 90%;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
}
.infoIcons{
    width: 25%;
}
#magnitud{

    background-position: center;
    background-image: url('images/magnitud-64.svg');
    background-repeat: no-repeat;
    background-color:#ccc;
    border-color:  #667F00;

    border-right-style: solid;
    text-align: center;
    line-height: 50px;
    font-family: "Calibri Regular" !important;
    font-weight: bold;
    color: #000;


}
#intensidad{

    background-image: url('images/intensidad-64.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color:#ccc;

    border-color:  #667F00;
    border-right-style: solid;
    text-align: center;
    line-height: 50px;
    font-family: "Calibri Regular" !important;
    font-weight: bold;
    color: #000;



}
#profundidad{

    background-position: center;
    background-image: url('images/profundidad-64.svg');
    background-repeat: no-repeat;
    border-color:  #667F00;
    background-color:#ccc;


    border-right-style: solid;
    text-align: center;
    line-height: 50px;
    font-family: "Calibri Regular" !important;
    font-weight: bold;
    color: #000;
}
#localizacion{

    background-position: center;
    background-image: url('images/localizacion-64.svg');
    background-repeat: no-repeat;
    text-align: center;
    background-color:#ccc;

    line-height: 20px;
    font-family: "Calibri Regular" !important;
    font-weight: bold;
    color: #000;

}
#infolabel{
    height: 2.5%;
    background-color:  #667F00;
    color: #ffffff;
    font-family: "Calibri Regular" !important;
    font-size: 10px;
    text-align: center;
}
.infolabel{
    width: 25%;
    border-color: #ffffff;
    border-right-style: solid;
    font-weight: bold !important;

}
#leyendaMagnitud{
    position: absolute;
    bottom:45px;
    left: 55%;
    width: 140px;
    height: 85px;
    background-color: #FFFFFF;

    background-image: url('images/magnitud.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 111%;
    z-index: 3;
}
#leyendaProfundidad{position: absolute;
    position: absolute;
    bottom: 20px;
    left: 25%;
    width: 200px;
    height: 130px;
    background-image: url('images/profundidad.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 4;

}
#titulo{
    height: 2%;
    display:block;
    color: #FFF;
    text-align: center;
    font-family: "Calibri Regular" !important;
    font-weight: bold;
    background-color:#667F00 !important;
}
#masinformacion{
    position: absolute;
    top: 1.3%;
    right: -9%;
    width: 30%;
    height: 10%;
    background-image: url('images/masinformacion.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 5;
}

body {
    animation-duration: 0.001s;
}

@media only screen and  (min-width: 600px) {
    #Basemaps2{
        display: none !important;
    }

}
.claro .dijitMenuItem {
    text-align: center;
    width: 640px !important;
    height: 40px;
    background-color: #667F00 !important;
    color: white !important;
    font-size: small;
    font-family: "Calibri Regular" !important;
}

.hzLine {
    border: none;
    border-top: 1px solid #333333;
    margin-top: 6px;
    margin-bottom: 6px;
}
.headerinf {
    font-weight: bold;
    color: #667F00 !important;
    font-size: 18px;
}

@media only screen and (max-width: 600px),only screen and (max-device-width: 600px) {
    #masinformacion {
    position: absolute;
    top: 0%;
    right: -11%;
    width: 35%;
    height: 11%;
}

    #Tabla1{
        height: 72%;
    }
    .claro .dijitMenuItem {
         text-align: center;
         width: 640px;
         height: 150px;
         background-color: #667F00 !important;
        color: white !important;
        font-size: small;
        font-family: "Calibri Regular"!important;

     }
    .claro .dijitMenuItem:hover {
        background-color: #667F00 !important;
    }
    .claro .dijitMenuItemHover {
         background-color: #667F00 !important;
     }


    .dijitMenuItemLabel {
        font-family: verdana,helvetica;
        font-size: 35px !important;
    }
    .claro .dijitMenu {
        width: 640px;
        height: 150px;

    }
    .dijitMenuItem {

    }

    .classmobile{
        display: block !important;
    }

    #leftCol {
        width: 100%;
        display: none;
        font-size: large;


    }
    #RightCol{
        width: 100%;
        display: none;
        font-size: large;

    }
    #Central{
        width: 100%;
        font-size: large;
    }
    #Header{
        height: 200px;

    }
    #Header1 {

        background-size: 400px;
        width: 70%;

    }
    #Header2{
        width: 0px;
    }
    #Header3{
        background-size: 400px;
        width: 30%;
    }
    .MapaBaseClass {
        display: none !important;
    }
    #Basemaps2{
        display: block !important;
    }
    /*modificacion 12/01/2012*/
    .hzLine {
        border: none;
        border-top: 1px solid #333333;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .headerinf {
        font-weight: bold;
        color: #667F00 !important;
        font-size: 18px;
    }

}



